# MOwNiT
## Laboratorium 2
### Analiza danych - DataFrames

- Zaawansowany pakiet do działania na tabelkach nxm danych 
- Podobne do pandas DataFrames w Pythonie albo data.frame w R
- Specjalistyczne funkcje do statystyki
- W przypadku własnej instalacji należy zaistalować pakiet:

```julia
Pkg.add("DataFrames")
```

- DataFrame to rodzaj bazy danych in-memory
- Składa się z kolumn, do których odwołujemy się używając symboli
- Każda z kolumn może przechowywać inny typ (inaczej niż w dwuwymiarowych tablicach )
- od wersji 0.11 każda z kolumn jest typu Array{T,1} gdzie T jest okreslonym typem danych (np. Float64)
- strona pakietu: https://github.com/JuliaStats/DataFrames.jl
- dokumentacja najnowszej wersji: https://juliadata.github.io/DataFrames.jl/stable/index.html

In [1]:
# za pierwszym razem instalujemy
# using Pkg
# Pkg.add("DataFrames")

In [2]:
using DataFrames

Tworzenie DataFrame

In [3]:
df1 = DataFrame()
df1.MojaKolumna = 1:4
df1.x2 = [4, pi, sqrt(2), 42]
df1.Col3 = [true, false, true, false]
show(df1)

4×3 DataFrame
 Row │ MojaKolumna  x2        Col3
     │ Int64        Float64   Bool
─────┼──────────────────────────────
   1 │           1   4.0       true
   2 │           2   3.14159  false
   3 │           3   1.41421   true
   4 │           4  42.0      false

Indeksowanie - różnica `!` i `:`:
- `!` nie tworzy kopii (zwraca referencje do tablicy)
- `:` zwraca kopię tablicy

In [4]:
# przykład dla !, referencja
kol2ref = df1[!, 2]
println(kol2ref)
kol2ref[1] = -2 
println(kol2ref)
show(df1)
# wartość w df1 również zmieniona

[4.0, 3.141592653589793, 1.4142135623730951, 42.0]
[-2.0, 3.141592653589793, 1.4142135623730951, 42.0]
4×3 DataFrame
 Row │ MojaKolumna  x2        Col3
     │ Int64        Float64   Bool
─────┼──────────────────────────────
   1 │           1  -2.0       true
   2 │           2   3.14159  false
   3 │           3   1.41421   true
   4 │           4  42.0      false

In [5]:
# przykład dla :, kopia
kol2kopia = df1[:, 2]
println(kol2kopia)
kol2kopia[1] = -99
println(kol2kopia)
show(df1)
# wartość w df1 niezmieniona, dalej -2 zamiast -99

[-2.0, 3.141592653589793, 1.4142135623730951, 42.0]
[-99.0, 3.141592653589793, 1.4142135623730951, 42.0]
4×3 DataFrame
 Row │ MojaKolumna  x2        Col3
     │ Int64        Float64   Bool
─────┼──────────────────────────────
   1 │           1  -2.0       true
   2 │           2   3.14159  false
   3 │           3   1.41421   true
   4 │           4  42.0      false

In [6]:
df1

4×3 DataFrame
 Row │ MojaKolumna  x2        Col3
     │ Int64        Float64   Bool
─────┼──────────────────────────────
   1 │           1  -2.0       true
   2 │           2   3.14159  false
   3 │           3   1.41421   true
   4 │           4  42.0      false

In [7]:
typeof(df1.Col3)

Vector{Bool} (alias for Array{Bool, 1})

In [8]:
# możemy też utworzyć DataFrame używając konstruktora
df2 = DataFrame(
    MojaKolumna=1:10,
    Col2=[2,pi, sqrt(2), 3, 4,2,pi, sqrt(2), 3, 4], 
    Col3=[true,true,false,true,false,true,true,false,true,false]
)

10×3 DataFrame
 Row │ MojaKolumna  Col2     Col3
     │ Int64        Float64  Bool
─────┼─────────────────────────────
   1 │           1  2.0       true
   2 │           2  3.14159   true
   3 │           3  1.41421  false
   4 │           4  3.0       true
   5 │           5  4.0      false
   6 │           6  2.0       true
   7 │           7  3.14159   true
   8 │           8  1.41421  false
   9 │           9  3.0       true
  10 │          10  4.0      false

In [9]:
# wymiar (wiersze, kolumny)
size(df2)

(10, 3)

In [10]:
# ilosc wierszy
size(df2, 1)

10

In [11]:
# ilosc kolumn
size(df2, 2)

3

In [12]:
# można odwoływać się po indeksie
show(df2[:,2])

[2.0, 3.141592653589793, 1.4142135623730951, 3.0, 4.0, 2.0, 3.141592653589793, 1.4142135623730951, 3.0, 4.0]

In [13]:
# albo po symbolu kolumny
show(df2[!,:Col2])

[2.0, 3.141592653589793, 1.4142135623730951, 3.0, 4.0, 2.0, 3.141592653589793, 1.4142135623730951, 3.0, 4.0]

In [14]:
# wiersze lub podzbiory wierszy i kolumn uzyskujemy poprzez operator (:). Wynikiem jest nowy DataFrame
show(df2[3,:])

DataFrameRow
 Row │ MojaKolumna  Col2     Col3
     │ Int64        Float64  Bool
─────┼─────────────────────────────
   3 │           3  1.41421  false

In [15]:
# drugi i trzeci wiersz
df2[2:3, :]

2×3 DataFrame
 Row │ MojaKolumna  Col2     Col3
     │ Int64        Float64  Bool
─────┼─────────────────────────────
   1 │           2  3.14159   true
   2 │           3  1.41421  false

In [16]:
# druga kolumna drugiego i trzeciego wiersza
df2[2:3, :Col2]

2-element Vector{Float64}:
 3.141592653589793
 1.4142135623730951

In [17]:
# druga i trzecia kolumna drugiego i trzeciego wiersza
df2[2:3,[:Col2, :Col3]]

2×2 DataFrame
 Row │ Col2     Col3
     │ Float64  Bool
─────┼────────────────
   1 │ 3.14159   true
   2 │ 1.41421  false

In [18]:
# pierwsze sześć wierszy
DataFrames.first(df2, 6)

6×3 DataFrame
 Row │ MojaKolumna  Col2     Col3
     │ Int64        Float64  Bool
─────┼─────────────────────────────
   1 │           1  2.0       true
   2 │           2  3.14159   true
   3 │           3  1.41421  false
   4 │           4  3.0       true
   5 │           5  4.0      false
   6 │           6  2.0       true

In [19]:
# ostatnie sześć wierszy
DataFrames.last(df2, 6)

6×3 DataFrame
 Row │ MojaKolumna  Col2     Col3
     │ Int64        Float64  Bool
─────┼─────────────────────────────
   1 │           5  4.0      false
   2 │           6  2.0       true
   3 │           7  3.14159   true
   4 │           8  1.41421  false
   5 │           9  3.0       true
   6 │          10  4.0      false

In [20]:
# nazwy kolumn
names(df2)

3-element Vector{String}:
 "MojaKolumna"
 "Col2"
 "Col3"

In [21]:
# typy kolumn
eltype.(eachcol(df2))

3-element Vector{DataType}:
 Int64
 Float64
 Bool

In [22]:
# podstawowe dane statystyczne o wartościach w kolumnie
describe(df2)

3×7 DataFrame
 Row │ variable     mean     min          median   max     nmissing  eltype
     │ Symbol       Float64  Real         Float64  Real    Int64     DataType
─────┼────────────────────────────────────────────────────────────────────────
   1 │ MojaKolumna  5.5          1            5.5    10           0  Int64
   2 │ Col2         2.71116      1.41421      3.0     4.0         0  Float64
   3 │ Col3         0.6      false            1.0  true           0  Bool

In [23]:
using Statistics
mean(df2.Col2)

2.711161243192578

In [24]:
var(df2.Col2)

0.9150284373648316

### Praca z plikami CSV

In [25]:
# using Pkg
# Pkg.add("CSV")

In [26]:
using CSV

In [27]:
input = "winequality.csv"
mydata = CSV.read(input, delim=";", DataFrame)

1599×12 DataFrame
  Row │ fixed acidity  volatile acidity  citric acid  residual sugar  chloride ⋯
      │ Float64        Float64           Float64      Float64         Float64  ⋯
──────┼─────────────────────────────────────────────────────────────────────────
    1 │           7.4             0.7           0.0              1.9      0.07 ⋯
    2 │           7.8             0.88          0.0              2.6      0.09
    3 │           7.8             0.76          0.04             2.3      0.09
    4 │          11.2             0.28          0.56             1.9      0.07
    5 │           7.4             0.7           0.0              1.9      0.07 ⋯
    6 │           7.4             0.66          0.0              1.8      0.07
    7 │           7.9             0.6           0.06             1.6      0.06
    8 │           7.3             0.65          0.0              1.2      0.06
    9 │           7.8             0.58          0.02             2.0      0.07 ⋯
   10 │           7.5             0.5           0.36             6.1      0.07
   11 │           6.7             0.58          0.08             1.8      0.09
  ⋮   │       ⋮               ⋮               ⋮             ⋮             ⋮    ⋱
 1590 │           6.6             0.725         0.2              7.8      0.07
 1591 │           6.3             0.55          0.15             1.8      0.07 ⋯
 1592 │           5.4             0.74          0.09             1.7      0.08
 1593 │           6.3             0.51          0.13             2.3      0.07
 1594 │           6.8             0.62          0.08             1.9      0.06
 1595 │           6.2             0.6           0.08             2.0      0.09 ⋯
 1596 │           5.9             0.55          0.1              2.2      0.06
 1597 │           6.3             0.51          0.13             2.3      0.07
 1598 │           5.9             0.645         0.12             2.0      0.07
 1599 │           6.0             0.31          0.47             3.6      0.06 ⋯
                                                 8 columns and 1578 rows omitted

In [28]:
describe(mydata)

12×7 DataFrame
 Row │ variable              mean        min      median    max        nmissin ⋯
     │ Symbol                Float64     Real     Float64   Real       Int64   ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ fixed acidity          8.31964    4.6       7.9       15.9              ⋯
   2 │ volatile acidity       0.527821   0.12      0.52       1.58
   3 │ citric acid            0.270976   0.0       0.26       1.0
   4 │ residual sugar         2.53881    0.9       2.2       15.5
   5 │ chlorides              0.0874665  0.012     0.079      0.611            ⋯
   6 │ free sulfur dioxide   15.8749     1.0      14.0       72.0
   7 │ total sulfur dioxide  46.4678     6.0      38.0      289.0
   8 │ density                0.996747   0.99007   0.99675    1.00369
   9 │ pH                     3.31111    2.74      3.31       4.01             ⋯
  10 │ sulphates              0.658149   0.33      0.62       2.0
  11 │ alcohol               10.423      8.4      10.2       14.9
  12 │ quality                5.63602    3         6.0        8
                                                               2 columns omitted

In [29]:
typeof(mydata)

DataFrame

In [30]:
size(mydata)

(1599, 12)

In [31]:
# Dzielenie DataFrame na podgrupy i działania na nich

# Split - Apply - Combine

#https://dataframes.juliadata.org/stable/man/split_apply_combine/

# rozdzielanie na podgrupy po jakości wina (quality)
# Split

wine_grouped = groupby(mydata, :quality)

GroupedDataFrame with 6 groups based on key: quality
First Group (10 rows): quality = 3
 Row │ fixed acidity  volatile acidity  citric acid  residual sugar  chlorides ⋯
     │ Float64        Float64           Float64      Float64         Float64   ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │          11.6             0.58          0.66            2.2       0.074 ⋯
   2 │          10.4             0.61          0.49            2.1       0.2
   3 │           7.4             1.185         0.0             4.25      0.097
   4 │          10.4             0.44          0.42            1.5       0.145
   5 │           8.3             1.02          0.02            3.4       0.084 ⋯
   6 │           7.6             1.58          0.0             2.1       0.137
   7 │           6.8             0.815         0.0             1.2       0.267
   8 │           7.3             0.98          0.05            2.1       0.061
   9 │           7.1             0.875         0.05            5.7       0.082 ⋯
  10 │           6.7             0.76          0.02            1.8       0.078
                                                               7 columns omitted
⋮
Last Group (18 rows): quality = 8
 Row │ fixed acidity  volatile acidity  citric acid  residual sugar  chlorides ⋯
     │ Float64        Float64           Float64      Float64         Float64   ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │           7.9              0.35         0.46             3.6      0.078 ⋯
   2 │          10.3              0.32         0.45             6.4      0.073
   3 │           5.6              0.85         0.05             1.4      0.045
   4 │          12.6              0.31         0.72             2.2      0.072
   5 │          11.3              0.62         0.67             5.2      0.086 ⋯
   6 │           9.4              0.3          0.56             2.8      0.08
   7 │          10.7              0.35         0.53             2.6      0.07
   8 │          10.7              0.35         0.53             2.6      0.07
   9 │           5.0              0.42         0.24             2.0      0.06  ⋯
  10 │           7.8              0.57         0.09             2.3      0.065
  11 │           9.1              0.4          0.5              1.8      0.071
  12 │          10.0              0.26         0.54             1.9      0.083
  13 │           7.9              0.54         0.34             2.5      0.076 ⋯
  14 │           8.6              0.42         0.39             1.8      0.068
  15 │           5.5              0.49         0.03             1.8      0.044
  16 │           7.2              0.33         0.33             1.7      0.061
  17 │           7.2              0.38         0.31             2.0      0.056 ⋯
  18 │           7.4              0.36         0.3              1.8      0.074
                                                               7 columns omitted

In [32]:
# podsumowanie ile jest win w każdej grupie 
combine(wine_grouped, nrow)

6×2 DataFrame
 Row │ quality  nrow
     │ Int64    Int64
─────┼────────────────
   1 │       3     10
   2 │       4     53
   3 │       5    681
   4 │       6    638
   5 │       7    199
   6 │       8     18

In [33]:
combine(wine_grouped, "fixed acidity" => mean)

6×2 DataFrame
 Row │ quality  fixed acidity_mean
     │ Int64    Float64
─────┼─────────────────────────────
   1 │       3             8.36
   2 │       4             7.77925
   3 │       5             8.16725
   4 │       6             8.34718
   5 │       7             8.87236
   6 │       8             8.56667

In [34]:
# zliczenie liczby win o danej jakości i zawartości alkoholu, posortowane
wine_grouped2 = sort(combine(groupby(mydata, [:quality,:alcohol]), nrow=> :liczba), [:quality,:alcohol])

190×3 DataFrame
 Row │ quality  alcohol  liczba
     │ Int64    Float64  Int64
─────┼──────────────────────────
   1 │       3     8.4        1
   2 │       3     9.0        1
   3 │       3     9.7        1
   4 │       3     9.8        1
   5 │       3     9.9        1
   6 │       3     9.95       1
   7 │       3    10.2        1
   8 │       3    10.7        1
   9 │       3    10.9        1
  10 │       3    11.0        1
  11 │       4     9.0        2
  ⋮  │    ⋮        ⋮       ⋮
 181 │       8    11.7        2
 182 │       8    11.8        1
 183 │       8    12.5        1
 184 │       8    12.6        1
 185 │       8    12.7        1
 186 │       8    12.8        1
 187 │       8    12.9        1
 188 │       8    13.1        1
 189 │       8    13.4        1
 190 │       8    14.0        2
                169 rows omitted

In [35]:
# zapis do pliku
CSV.write("dataframe1.csv", wine_grouped2)

"dataframe1.csv"


### Graficzna reprezentacja DataFrames

In [36]:
df = DataFrame(a = 1:10, b = map(x->2x,(1:10)), c = map(x->log(x),(1:10)), d=rand(10), e=map(x->x%2,(1:10)))

10×5 DataFrame
 Row │ a      b      c         d          e
     │ Int64  Int64  Float64   Float64    Int64
─────┼──────────────────────────────────────────
   1 │     1      2  0.0       0.856048       1
   2 │     2      4  0.693147  0.667198       0
   3 │     3      6  1.09861   0.297115       1
   4 │     4      8  1.38629   0.37887        0
   5 │     5     10  1.60944   0.0688299      1
   6 │     6     12  1.79176   0.672279       0
   7 │     7     14  1.94591   0.388757       1
   8 │     8     16  2.07944   0.667542       0
   9 │     9     18  2.19722   0.646227       1
  10 │    10     20  2.30259   0.562984       0

In [ ]:
# Mozna odwolywac sie bezposrednio do kolumn w poniższy sposób (gdyz sa typu jednowymiarowych tablic 
# Array{T,1})

using Plots
scatter(df.a, [df.b, df.c], colour = [:red :blue], yerr=df.d)

In [ ]:
# użycie opcji layout
scatter(df.a, [df.b, df.c],  colour = [:red :blue ], layout=2)

In [ ]:
# użycie opcji layout i grup
scatter(df.a, [df.b, df.c], group=df.e,  colour = [:red :blue :green :black], layout=2)

Uwaga: Ze względu na specyfikę języka Julia pomiar czasu wykonania należy brać pod uwagę dopiero od drugiego wywołania danej funkcji
(za pierwszym razem mierzymy również czas kompilacji)

Makro @time - zwraca wartość funkcji i wypisuje czas jej trwania.
Makro @elapsed zwraca czas trwania (może być wygodniejsze w użyciu). 
Warto też oglądnąć działanie makr @timev, @timed, i @allocated

https://docs.julialang.org/en/v1/base/base/#Base.@time

Rand(10) - wylosuj 10-elementową tablicę Float64 z przedziału [0,1)

https://docs.julialang.org/en/v1/stdlib/Random/#Base.rand

### Zadanie 
- Napisać program w języku Julia do obliczania iloczynu skalarnego wektorów (<a href="https://docs.julialang.org/en/v1/stdlib/LinearAlgebra/#LinearAlgebra.dot">LinearAlgebra.dot</a>) i mnożenia macierzy kwadratowej przez wektor z użyciem 
<a href="https://docs.julialang.org/en/v1/stdlib/LinearAlgebra/#Elementary-operations-1">operatora *</a>.
- Uruchomić i zmierzyć czasy działania obydwu funkcji - każdej dla różnych rozmiarów wektorów.  Dokonać 10 pomiarów dla każdego rozmiaru wektora.
- Czasy działania powinny  być zapisywane do <b>jednego</b> pliku CSV. Należy zaplanować odpowiednią strukturę kolumn takiego pliku.
- Wczytać dane z w/w pliku do <b>jednego</b> DataFrame w języku Julia. 
- Korzystająć z mechanizmów DataFrame w języku Julia obliczyć średnią i odchylenie standardowe, w taki sposób, aby narysować wykresy średnich czasów obliczenia operacji w zależności od rozmiaru wektora. Dodać słupki błędów do obydwu wykresów uzyskanych z obliczenia odchylenia standardowego. 
- Proszę poukładac wykresy  w tabelkę za pomocą  opcji layouts: https://docs.juliaplots.org/latest/layouts/#Simple-Layouts-1.
- Należy zadbać o staranne podpisanie osi i wykresów.

### Punktacja
- Implementacja  1 punkt
- Poprawny dataframe  2 punkty
- Poprawnie obliczone srednie, odchylenie i przedstawienie ich na wykresach 2 pkt
- Doskonałość wykresów (użycie layout, dokładne podpisy osi i wykresów) 1 pkt